.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
