body {
  color: white;
  background-color: black;
  text-align: center;
}

h2 {
  font-size: 15px;
  position: fixed;
  bottom: 0%;
}

main {
  margin-bottom: 40px;
}

.word-counter {
  display: inline-block;
}

#carta-texto {
  width: 80%;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 8px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

#criar-carta {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
}

#carta-gerada {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
